<div
  class="w-full bg-white dark:bg-gray-800 rounded-xl p-4 shadow-sm border border-transparent dark:border-gray-700 flex justify-between items-start transition-colors duration-200">
  <div class="flex flex-col gap-1">
    <h3 class="font-sans font-bold text-title text-black dark:text-gray-100">{{ fullName }}</h3>
    <p class="font-sans text-body text-gray-600 dark:text-gray-400">{{ member.phone }}</p>
    <p class="font-sans text-body text-gray-500 text-xs dark:text-gray-500">CI: {{ member.ci }}</p>
  </div>

  <div class="flex-shrink-0">
    <ng-content select="[card-action]"></ng-content>
  </div>
</div>
