<div class="w-full bg-transparent flex items-center p-2">
  <div class="cursor-pointer p-2" [class.invisible]="items.length <= 1" role="button" tabindex="0" (click)="setBack()"
    (keypress)="setBack()">
    <svg class="h-[32px] w-[32px]" viewBox="0 0 16 16" fill="currentColor">
      <path fill-rule="evenodd"
        d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223" />
    </svg>
  </div>
  <div class="relative w-full overflow-hidden border-b border-x rounded-xl {{colorItem}}">
    <div class="flex h-25">
      @for (item of items; track item.id) {
      <div class="min-w-full flex flex-col justify-center text-white p-4"
        [style.marginLeft.%]="item.id === 0 ? item.marginLeft : 0">
        @if (item.subtitle) {
        <span class="leading-tight text-body text-secondary/80">{{ item.subtitle }}</span>
        }
        <span class="text-title text-secondary">{{ item.title }}</span>

        @if (item.footPage) {
        <div class="flex justify-end">
          <span class="leading-tight text-body text-secondary/60">{{item.footPage}}</span>
        </div>
        }
      </div>
      }
    </div>
  </div>
  <div class="cursor-pointer p-2" [class.invisible]="items.length <= 1" role="button" tabindex="0" (click)="setNext()"
    (keypress)="setNext()">
    <svg class="h-[32px] w-[32px]" viewBox="0 0 16 16" fill="currentColor">
      <path fill-rule="evenodd"
        d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671" />
    </svg>
  </div>
</div>