<div class="dropdown">
  @if(is_active) {

  <header class="flex justify-between items-center bg-[#370936] text-white p-3 rounded-t-xl" 
  (click)="toggle()">
    <h1>{{drop_title}}</h1>
    <app-chevron [is_up]="is_active"></app-chevron>
  </header>
  <body>
    
  </body>
  }@else {
  <header class="flex justify-between items-center bg-[#581056] text-white p-3 rounded-t-xl" 
  (click)="toggle()">
    <h1>{{drop_title}}</h1>
    <app-chevron [is_up]="is_active"></app-chevron>
  </header>
  }
</div>