<div class="dropdown relative">
  <header
    class="flex justify-between items-center bg-primary dark:bg-primary-dark text-background dark:text-background p-3 rounded-t-xl cursor-pointer"
    [class.rounded-xl]="!isActive"
    role="button"
    tabindex="0"
    (click)="toggle()"
    (keydown.enter)="toggle()">
    <h1 class="text-subtitle">{{dropTitle}}</h1>

    @if (!isMobile()) {
    <svg class="h-[20px] w-[20px]" viewBox="0 0 16 16" fill="currentColor">
      <path
        fill-rule="evenodd"
        [attr.d]="isActive ? 'M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z' : 'M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'" />
    </svg>
    }
  </header>

  <ng-template #itemsList>
    @for (item of items; track $index; let i = $index) {
    <div
      class="relative flex items-center w-full py-[16px] px-[12px] cursor-pointer"
      [class.cursor-not-allowed]="item.isDisabled"
      (click)="selectItem(i, item)"
      tabindex="0"
      (keydown.enter)="!item.isDisabled && selectItem(i, item)">
      @if (isItemSelected(i) && !item.isDisabled) {
      <div class="absolute left-0 top-0 h-full w-[8px] bg-primary dark:bg-primary-dark"></div>
      }

      <span
        class="leading-tight text-body"
        [class.text-warning]="item.isDisabled"
        [class.dark:text-warning]="item.isDisabled"
        [class.text-primary]="isItemSelected(i) && !item.isDisabled"
        [class.dark:text-primary-dark]="isItemSelected(i) && !item.isDisabled"
        [class.text-secondary]="!isItemSelected(i) && !item.isDisabled"
        [class.dark:text-secondary-dark]="!isItemSelected(i) && !item.isDisabled">
        {{item.label}}
      </span>
    </div>
    }
  </ng-template>

  @if (isMobile()) { @if (isActive) {
  <app-modal [isOpen]="true" title="Seleccionar un mes" (close)="toggle()">
    <ng-container *ngTemplateOutlet="itemsList"></ng-container>
  </app-modal>
  } } @else { @if (isActive) {
  <div
    class="absolute bg-background dark:bg-secondaryBackground-dark border-x border-b border-primary dark:border-primary-dark rounded-b-xl overflow-hidden shadow-lg w-full z-10">
    <ng-container *ngTemplateOutlet="itemsList"></ng-container>
  </div>
  } }
</div>
