<div class="flex flex-col w-full gap-2 mb-4">
  @if(label){
  <label
    [for]="id"
    class="text-secondary dark:text-secondary-dark font-sans font-bold text-subtitle ml-2"
    [class.opacity-50]="isDisabled">
    {{ label }}
  </label>
  }

  <input
    [id]="id"
    [type]="type"
    [placeholder]="placeholder"
    [value]="value"
    (input)="onInput($event)"
    (blur)="onBlur()"
    [disabled]="isDisabled"
    class="w-full h-[50px] px-4 border-2 border-primary dark:border-primary-dark rounded-xl text-secondary dark:text-secondary-dark placeholder-secondary/50 dark:placeholder-secondary-dark/50 font-sans text-body focus:outline-none focus:bg-primary/5 dark:focus:bg-primary-dark/5 transition-colors disabled:bg-gray-200 dark:disabled:bg-gray-700 disabled:cursor-not-allowed disabled:opacity-60" />
</div>
