<header
  class="bg-[#581056] w-full fixed lg:max-w-none lg:w-full sm:w-full mx-auto"
  [ngClass]="{
            'h-[130px]': size === 'normal',
            'h-[265px]': size === 'big'
        }">
  <div class="pt-[55px] flex justify-between items-start px-6 ml-2">
    @if(buttons_on){
    <app-button-header></app-button-header>
    }@else{
    <div class="h-[32px] w-[32px]"></div>
    } @if(is_logo){
    <div class="flex flex-col items-center gap-6">
      <img src="assets/{{logo}}.svg" class="h-[80px] w-[80px] h-max-[120px] w-max-[110]" />
      <div class="flex-1 text-center max-w-[200px] flex justify-center items-start lg:max-w-none">
        <p class="text-white text-[15px] font-sans break-words lg:text-[28px]">{{header_text}}</p>
      </div>
    </div>
    }@else{
    <div class="flex-1 text-center max-w-[200px] flex justify-center lg:max-w-none">
      <p class="text-white text-[17px] font-sans break-words lg:text-[20px]">{{header_text}}</p>
    </div>
    } @if(buttons_on){
    <app-button-header icon="logout"></app-button-header>
    }@else{
    <div class="h-[32px] w-[32px]"></div>
    }
  </div>
</header>
