<div class="flex flex-col min-h-screen">
  <app-header
    [is_logo]="headerService.is_logo()"
    [header_text]="headerService.header_text()"
    [buttons_on]="headerService.buttons_on()"
    [size]="headerService.size()"
    [logo]="headerService.logo()"
    [is_carrusel]="headerService.is_carrusel()"
    [carrusel_items]="headerService.carrusel_items()"
    [carrusel_color]="headerService.carrusel_color()"></app-header>
  <main class="flex-grow">
    <router-outlet></router-outlet>
  </main>
  <app-footer></app-footer>
</div>
